{% extends "base.html"%}
{% block title %} SafeRide {% endblock %}
{% block body %}

<h1>SafeRide</h1>

<p>Contact
Call: 970.209.RIDE(7433)
Hours: Wednesday, Friday and Saturday nights: 8 p.m. to 2:30 a.m
</p>

<h2>Our Mission</h2>
<p>Safe Ride of Gunnison encourages the responsible use of alcohol
    and safer roads by providing non-judgmental “No Questions Asked”
    rides and promoting alcohol education and awareness programs to the Gunnison community.
    Safe Ride is dedicated to improving the safety of Western students and the Gunnison community.
</p>

<p>Safe Ride’s objectives:</p>
<p>To offer free, safe shuttle service in and around the
    City of Gunnison—primarily for the use of Western students,
    community members and visitors who have been drinking alcohol—as a transportation alternative.
To offer service as frequently as is feasible given the amount of financial support received from
    the City of Gunnison, Western Colorado University and the Gunnison community.</p>

<p>Our History
Safe Ride of Gunnison County Inc. (dba Safe Ride) is a Colorado nonprofit organization founded in 1994.
Rob Whiting manages Safe Ride’s finances, coordinates the maintenance of the vehicles with both the city’s
    shop and private automotive businesses, and serves as a Director and Chairman of the Board. For holiday
    special event service contact 970.641.8243
Safe Ride receives funding through the City of Gunnison and the City Municipal Court through
    surcharges from convictions for alcohol-related offenses, and from local businesses. Safe Ride also receives crucial
    funding from the Student Government Association (SGA) of Western Colorado University. To all of our
    supporters, we say, “Thank you!” Safe Ride continues to provide more than 15,000 free rides per year in
    the Gunnison area as we work toward preventing impaired driving in our community.
</p>

<p>Uniqueness of the Safe Ride Program
The most unique part of the Safe Ride program is the setting in which it has become so successful. Gunnison is a small, rural town of about 6,000 residents, and home to Western Colorado University, a public institution of about 2,900 students that is the highest elevation four-year university campus in the United States.
Though Gunnison is a small town approximately 200 miles from Denver, it offers a surprising diversity of people and a rich history grounded in ranching and mining. Western reflects this diversity, drawing many students from all over the country to its three most popular areas of study: business, art and outdoor recreation.
Because of Safe Ride’s ties to the community, we can offer a non-judgmental “No Questions Asked” service. Customers can ride to their intended destination without fear of being questioned by police or criticized for their drinking behavior. Safe Ride is subject to the same traffic laws as any other vehicle on the road. The driver may call the police if they feel that either their safety or that of a passenger is threatened by another rider.
Above all else, it is important to keep Safe Ride’s services free to the public in order to maintain the positive effects that Safe Ride has had in reducing the DUI rate in the Gunnison community.
Please note, for everyone’s safety, no dogs or bikes are allowed on the van. Any valuables left in the van are turned in to the Gunnison Police Department, located at 910 Bidwell Ave., or you may contact them at 970.641.8243. And, remember, it’s OK to tip your drivers, as they are working hard so that you can have a “safe ride” home.
Support Safe Ri
Safe Ride is supported entirely by donations, in-kind gifts, Western support, grant funding and local government and business support. For many years, Safe Ride has effectively operated on a shoestring budget. However, local support for the Safe Ride program has waned, and it has become increasingly difficult to make ends meet. Safe Ride is constantly seeking new community sources of financial support to stay in operation.
Sign up for City Market Community (Value Card) Rewards. This is an opportunity to support Safe Ride every time you shop at City Market. Visit citymarket.com, click on Community and enroll in the City Market Community Rewards program. Once enrolled, go to Find Your Organization, enter Safe Ride and select Safe Ride of Gunnison County Inc. Then, every time you shop at City Market and use your City Market Value Card, you will be supporting Safe Ride through the City Market Community (Value Card) Rewards program. City Market will make a quarterly donation to Safe Ride, based upon a percentage of purchases.
    Your support of Safe Ride will make a big difference and will assist in its continued operation.</p>
{% endblock %}
