<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SafeRide</title>
    <h1>SafeRide</h1>
</head>
<body>
<h2>Our Mission</h2>
<p>Safe Ride of Gunnison encourages the responsible use of alcohol and safer roads by providing non-judgmental “No Questions Asked” rides and promoting alcohol education and awareness programs to the Gunnison community.
    Safe Ride is dedicated to improving the safety of Western students and the Gunnison community.

Safe Ride’s objectives:

To offer free, safe shuttle service in and around the City of Gunnison—primarily for the use of Western students, community members and visitors who have been drinking alcohol—as a transportation alternative.
To offer service as frequently as is feasible given the amount of financial support received from the City of Gunnison, Western Colorado University and the Gunnison community.</p>
</body>
</html>