{% extends "base.html" %}
{% block title %} Rides {% endblock %}
{% block body %}

<style>
    table {
border-collapse: collapse;
margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid blue;
  background-color:white;
  color:black;
  padding: 10px;
}

iframe{
margin-left: auto;
  margin-right: auto;
}
</style>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>

  </tr>

{% for i in ride %}
    <tr>
    <td>{{i.id}}</td>
    <td> {{i.name}}</td>
    </tr>
{% endfor %}
</table>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6240.719102978374!2d-106.92067925529896!3d38.548529052486124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x873f92d177da1501%3A0x9aa5fc1ddb4a49ee!2sWestern%20Colorado%20University!5e0!3m2!1sen!2sus!4v1669835718632!5m2!1sen!2sus"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}